@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    background-color: #27272a;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    background-color: #27272a;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #27272a;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }